<!-- Giscus Comments -->
<script src="https://giscus.app/client.js"
        data-repo="shivamchhuneja/codebynight"
        data-repo-id="R_kgDOOcQBFw"
        data-category="General"
        data-category-id="DIC_kwDOOcQBF84CqO6X"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_mocha"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>